langchain
langgraph
langchain-google-genai
fastapi
uvicorn
qdrant-client
langfuse
ragas
pydantic
python-dotenv
langchain-community
langchain-qdrant
duckduckgo-search
# Local Grader (Phase 5)
torch
transformers
nest_asyncio
